@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 600;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  /* background-color: #fff; */
  background-image:url(../img/output-onlinepngtools\ \(1\).png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}
.brand {
  text-align: center;
  font-size: 3rem;
  color: black;
  margin-bottom: 30px;
  font-family: pyxidium quick;
}
.brand span{
    font-family: pyxidium quick;
    background: linear-gradient(to right, orangeRed,darkorange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: white;
  border-radius: 50px;
  
}
input {
  width: 90%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  background-color:transparent;
  display: inline-block;
  font-family: pyxidium quick;
}
form ion-icon {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
  }
  .search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item {
    width: 100%;
    border-radius:8px;
    background-color: whitesmoke;
    padding: 15px;
    overflow: hidden;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
  }
  .item .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item .title {
    color: black;
    margin: 20px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
    /* font-family: pyxidium quick; */
  }
  .view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background:linear-gradient(to right, orangeRed,darkorange) ;
    color: black;
    font-size: 1.4rem;
    margin-top: 20px;
    border-radius: 50px;
    align-self: flex-start;
  }
  .view-btn:hover{
    
    letter-spacing: .1rem;}

  .item-data {
    color: black;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    font-family: pyxidium quick;
  }
  .container.initial .brand {
    font-size: 5rem;
    font-family: pyxidium quick;
    
  }
  .container.initial .brand span{
    font-family: pyxidium quick;
    background: linear-gradient(to right, orangeRed,darkorange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .container.initial form {
    max-width: 800px;
  }
  .container.initial form input {
    padding: 20px;
    font-size: 3rem;
  }

  @media (max-width: 768px) {
    .search-result {
      grid-gap: 10px;
    }
    .container.initial .brand {
      font-size: 4rem;
    }
    .container.initial form {
      max-width: 500px;
    }
    .container.initial form input {
      padding: 10px;
      font-size: 2rem;
    }
    section{
        padding: 0;
    }
  }
  